@{ 
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { role = "login" }))
{
    @Html.AntiForgeryToken()
    <img class="img-responsive" src="~/Images/logo_muni.png" runat="server" />
    <div class="form-group">
        <input type="text" name="username" required class="form-control" placeholder="Ingrese su DNI" />
        <span class="glyphicon glyphicon-user"></span>
    </div>

    <div class="form-group">
        <input type="password" name="password" required class="form-control" placeholder="Ingrese su contraseña" />
        <span class="glyphicon glyphicon-lock"></span>
    </div>

    <button type="submit" name="go" class="btn btn-primary btn-block">Ingresar</button>
    @Html.ActionLink("¿Ha olvidado su contraseña?", "ForgotPassword")
    <span> o  </span>
    @Html.ActionLink("Registrarse", "Register")

    @Html.ValidationSummary("", new { @class = "text-danger" })
}